{% extends 'main/base.html' %}

{% block title %}Подтверждение удаления рассылки{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mt-4">Подтверждение удаления рассылки</h1>
            <p>Вы уверены, что хотите удалить рассылку сообщения "{{ object.message.subject }}"?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Удалить</button>
                <a href="{% url 'mailing:list' %}" class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
