/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

/* Стили для заголовка Mail Flow */
h2.mailflow-title {
    margin: 0; /* Обнуляем отступы */
    text-align: left; /* Выравниваем текст влево */
    font-size: 24px;
    margin-top: 1cm;
    margin-left: 1cm;
}/* Устанавливаем размер шрифта по желанию */
    /* Другие стили, если необходимо */

/* Стили для родительского контейнера заголовка */
div.mailflow-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Добавляем отступы для выравнивания */
    /* Другие стили, если необходимо */
}