{% extends 'main/base.html' %}

{% block title %}{% if form.instance.pk %}Редактирование клиента - {% else %}Создание клиента - {% endif %}Mail Flow{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-dark text-white">
                <div class="card-header">
                    <h3>{% if form.instance.pk %}Редактирование клиента{% else %}Новый клиент{% endif %}</h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-outline-primary mt-3">Сохранить</button>
                        <a href="{% url 'clients:list' %}" class="btn btn-outline-secondary mt-3">Отмена</a>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}