{% extends 'main/base.html' %}

{% block title %}Список клиентов - Mail Flow{% endblock %}

{% block content %}
<div class="col-12 md-5">
    <h1 class="mt-5">Клиенты</h1>
    <hr>
    <br>
            <table class="table table-striped">

                <tbody>
                {% for object in object_list %}
                <tr>
                    <td class="light-text">{{ object.full_name }}</td>
                    <td class="light-text">{{ object.email }}</td>
                    <td>
                        <a href="{% url 'clients:view' pk=object.pk %}" class="btn btn-outline-secondary">Подробнее</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="{% url 'clients:create' %}">Добавить клиента</a>
            </nav>
        </div>
    </div>
</div>
{% endblock %}