{% extends 'main/base.html' %}

{% block title %}Подтверждение удаления клиента{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mt-4">Подтверждение удаления клиента</h1>
            <hr>
            <br>
            <p>Вы уверены, что хотите удалить клиента "{{ object.full_name }}"?</p>
            <br>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger">Удалить</button>
                <a href="{% url 'clients:list' %}" class="btn btn-outline-secondary">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}