{% extends 'main/base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="container">
    <h1>Контакты</h1>
    <hr>
    <br>
    <h5>Если у вас есть вопросы, предложения или замечания, не стесняйтесь обращаться к нам:</h5>
    <br>
    <br>
    <p>Электронная почта: {{ email }}</p>
    <p>Телефон: {{ phone }}</p>
    <p>Адрес: {{ address }}</p>
    <hr>
    <br>
    <h5>Вы также можете связаться с нами через социальные сети:</h5>
    <br>
    <br>

    <p>Facebook: <a href="#">{{facebook}}</a></p>
    <p>Twitter: <a href="#">{{twitter}}</a></p>
    <p>Instagram: <a href="#">{{instagram}}</a></p>
    <hr>
</div>
{% endblock %}