{% extends 'main/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card bg-dark text-white">
                <div class="card-header">Email подтвержден</div>

                <div class="card-body">
                    <p>Ваш email адрес успешно подтвержден. Теперь вы можете войти в свой аккаунт.</p>
                    <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link" href="{% url 'users:login' %}">Войти</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}